<h1>Search Here for your new Home!</h1>
<form class='rental-form'>
    {{!-- <input id="cityName" type="text" placeholder="ENTER CITY NAME"> --}}
    <input id="address" type="text" placeholder="ENTER ADDRESS">
    <input id="beds" type="number" placeholder="NUMBER OF BEDROOMS" min="1" max="10">
    <input id="baths" type="number" placeholder="NUMBER OF BATHROOMS" min="1" max="10">
    <input id="propType" type="text" placeholder="PROPERTY TYPE">
    <input id="sqft" type="number" placeholder="SQUARE FOOTAGE">
    <input id="comps" type="number" placeholder="NUMBER OF COMPARABLE PROPERTIES" min="1">
    <button type="submit" id="homeSearch">Search:</button>
</form>

<hr>
<h2>Apartment And Houses for Rent!</h2>
<div id="rental-display">
    {{!-- div for first property --}}
    <div class="rental">
        <h1 id="listRent">Rent Range</h1>
        <p id="rentRangeHigh"></p>
        <p id="rentRangeLow"></p>
        <hr>
        <p id="address"></p>
        <p id="price"></p>
        <p id="nmbr-beds"></p>
        <p id="nmbr-baths"></p>
        <p id="prop-type"></p>
        <p id="sqft-property"></p>

    </div>
    
</div>

{{!-- SECTION TO DISPLAY THE RENTAL SEARCH PRODUCTS --}}
{{!-- <ol class="rental-list">
    {{#each homes as |home|}}
    <li class="box">
      {{> home-info home }}
    </li>
    {{/each}}
  </ol> --}}



<script src="/js/searchRental.js"></script>
{{!-- <script src="/js/weatherForecast.js"></script> --}}