{{#if loggedIn}}
    <div class="click">
    <a href="##">Here's your Listings!</a>
    </div>
    {{/if}}


{{#if rentals.length}}
<section>
  <h2>Comparable Rentals</h2>
  <ol class="rental-list"> 

    {{#each rentals as |rental|}}
    <li class="box">
      {{> post-info post}}
      <a href="###{{post.id}}" class="edit-link">Edit post</a>
     </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}